.ppr-card {
  @include shadow;
  @include color('border-color', 'muted-light');
  backface-visibility: hidden;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  position: relative;
  will-change: transform;
  word-wrap: break-word;

  &:hover {
    @include shadow(hover);
  }

  .ppr-card-header,
  .ppr-card-footer {
    @include color('background-color', 'white-dark');
    @include color('border-color', 'muted-light');
    padding: 0.75rem 1.25rem;
  }

  .ppr-card-header {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  .ppr-card-footer {
    border-top-style: solid;
    border-top-width: 2px;
  }

  .ppr-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;

    .ppr-card-title,
    h4 {
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .ppr-card-subtitle,
    h5 {
      color: $secondary;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    .ppr-card-text,
    p {
      margin-bottom: 1rem;
      margin-top: 0;
    }

    .ppr-card-link + .ppr-card-link,
    a + a {
      margin-left: 1.25rem;
    }
  }

  .ppr-image-top,
  .ppr-image-bottom,
  img {
    border: 0;
    border-radius: 0;
  }
}
